.article {
  display: flex;
  flex-direction: column;
  gap: var(--gap-40);

  @media (min-width: 720px) {
    align-items: center;
    flex-direction: row;
    gap: var(--gap-24);
    justify-content: space-between;
    margin-right: var(--margin-80);
    margin-top: var(--margin-48);
  }

  @media (min-width: 1200px) {
    margin-right: 0;
    margin-top: var(--margin-110);
  }
}

.imageWrapper {
  height: 273px;
  position: relative;

  @media (min-width: 720px) {
    height: 416px;
  }

  @media (min-width: 1200px) {
    height: 630px;
  }
}

.image,
.imageSelected {
  height: 100%;
  position: absolute;
  width: auto;
}

.image {
  opacity: 0;
  transition: opacity 1s ease;
}

.imageSelected {
  transition: opacity 0.3s ease;
}

.imagePlaceholder {
  height: 100%;
  opacity: 0;
  width: auto;
}

.buyOptions {
  flex-grow: 1;

  @media (min-width: 720px) {
    max-width: 380px;
  }
}
