.button,
.buttonOutline,
.buttonSolid {
  cursor: pointer;
  font-size: var(--font-size-12);
  padding: var(--padding-16);
  outline-offset: 4px;
  text-transform: uppercase;
  width: 100%;

  &:disabled {
    cursor: unset;
  }
}

.buttonOutline {
  background-color: var(--color-white);
  border: var(--border-darker-gray-1);
  color: var(--color-black);

  &:hover {
    background-color: var(--color-lightest-gray);
  }

  &:disabled {
    background-color: var(--color-white);
    border: var(--border-lightest-gray-1);
    color: var(--color-lighter-gray);
    cursor: unset;
  }
}

.buttonSolid {
  background-color: var(--color-black);
  border: var(--border-black-1);
  color: var(--color-text-white);

  &:hover {
    background-color: var(--color-dark-gray);
  }

  &:disabled {
    background-color: var(--color-lightest-gray);
    border: var(--border-lightest-gray-1);
    color: var(--color-lighter-gray);
    cursor: unset;
  }
}
