.buttonOutline,
.buttonSimple,
.buttonSolid {
  cursor: pointer;
  font-size: var(--font-size-12);
  outline-offset: 4px;
  width: 100%;

  &:disabled {
    cursor: unset;
  }
}

.buttonOutline,
.buttonSolid {
  padding: var(--padding-16);
  text-transform: uppercase;
}

.buttonOutline {
  background-color: var(--color-white);
  border: var(--border-darkest-gray-1);
  color: var(--color-black);

  &:hover {
    background-color: var(--color-lightest-gray);
  }

  &:disabled {
    background-color: var(--color-white);
    border: var(--border-lightest-gray-1);
    color: var(--color-lighter-gray);
    cursor: unset;
  }
}

.buttonSimple {
  background-color: unset;
  border: unset;
  padding: var(--padding-2) 0;

  &:hover {
    text-decoration: underline;
  }
}

.buttonSolid {
  background-color: var(--color-black);
  border: var(--border-black-1);
  color: var(--color-text-white);

  &:hover {
    background-color: var(--color-darker-gray);
  }

  &:disabled {
    background-color: var(--color-lightest-gray);
    border: var(--border-lightest-gray-1);
    color: var(--color-lighter-gray);
    cursor: unset;
  }
}

.buttonColorError {
  color: var(--color-red);
}
