.nav {
  padding: var(--padding-12) 0;
}

.navButton {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;

  &:hover {
    box-shadow: var(--box-shadow-light-gray);
  }
}

.navButtonText {
  font-size: var(--font-size-12);
  padding: var(--padding-1) var(--padding-4) 0;
  text-transform: uppercase;
}
