.layout {
  background: var(--color-white);
  color: var(--color-black);
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  gap: var(--gap-24);
  grid-template-rows: auto 1fr;
  margin: 0 auto;
  max-width: var(--size-layout-max-width);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 720px) {
    gap: var(--gap-48);
  }
}
