.page {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24);
  margin: var(--margin-24) 0 var(--margin-48);

  @media (min-width: 720px) {
    gap: var(--gap-48);
    margin-top: var(--margin-48);
  }
}

.resultsText {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-300);
  text-transform: uppercase;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
  padding: var(--padding-12) 0;
}
