.detailWrapper {
  --size-detail-wrapper-max-width: 1200px;

  margin: 0 auto var(--margin-154);
  max-width: var(--size-detail-wrapper-max-width);
}

.listSpecs {
  margin-top: var(--margin-80);

  @media (min-width: 1200px) {
    margin-top: var(--margin-154);
  }
}
