.modelAndPrice {
  display: flex;
  flex-direction: column;
  gap: var(--gap-12);
}

.model,
.price,
.text,
.colorSelected {
  font-weight: var(--font-weight-300);
}

.model,
.price,
.text {
  text-transform: uppercase;
}

.model {
  font-size: var(--font-size-20);

  @media (min-width: 1200px) {
    font-size: var(--font-size-24);
  }
}

.price {
  font-size: var(--font-size-14);

  @media (min-width: 1200px) {
    font-size: var(--font-size-20);
  }
}
