.header {
  align-items: center;
  color: var(--color-black);
  display: flex;
  height: var(--size-height-header);
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--size-layout-max-width);
  padding: 0 var(--padding-16);
  width: 100%;

  @media (min-width: 720px) {
    padding: 0 var(--padding-40);
  }
}

.logo {
  height: var(--size-logo-height);

  &:hover {
    @media (min-width: 720px) {
      box-shadow: var(--box-shadow-light-gray);
    }
  }
}
