.main {
  margin: 0 auto var(--margin-154);
  max-width: var(--size-layout-max-width);
  padding: 0 var(--padding-16);
  width: 100%;

  @media (min-width: 720px) {
    padding: 0 var(--padding-40);
  }
}
